.left {
  // background-color: green;
  .icon-close {
    fill: hsl(223, 64%, 98%);
  }

  .product-display {
    height: 27em;
    cursor: pointer;

    .icon-next,
    .icon-previous {
      background-color: hsl(223, 64%, 98%);
      width: 1.5rem;
      height: 1.5rem;
      padding-top: 5px;
      padding-left: 10px;
      border-radius: 50%;

      position: absolute;
      top: 30%;
      margin-left: -17px;
    }

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }
  }

  .thumnails {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    height: 6em;
    justify-content: center;

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    .active {
      border: 0.2em solid hsl(26, 100%, 55%);
      opacity: 60%;
    }
  }
}
