.left {
  .icon-close {
    fill: hsl(223, 64%, 98%);
    position: sticky;
    margin-top: 5rem;
    margin-left: 26rem;
    cursor: pointer;
  }

  .product-display-container {
    height: 27em;
    cursor: pointer;

    .icon-next,
    .icon-previous {
      background-color: hsl(223, 64%, 98%);
      width: 1.5rem;
      height: 1.5rem;
      padding-top: 5px;
      padding-left: 10px;
      border-radius: 50%;

      position: relative;
      top: -40%;
    }

    .icon-next {
      margin-left: -1rem;
    }

    .icon-previous {
      margin-right: -1rem;
    }

    .product-display {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }
  }

  .thumbnails {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    height: 6em;
    justify-content: center;

    .toggle-image-container {
      border-radius: 8px;

      .toggle-image {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    .active {
      border: 0.2em solid hsl(26, 100%, 55%);
      opacity: 60%;
    }
  }
}

// mobile view
@media (max-width: 820px) {
  .left {
    .thumbnails {
      display: none;
    }
  }
}
