.left {
  // background-color: green;

  .product-display {
    height: 27em;
    cursor: pointer;

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }
  }

  .thumnails {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    height: 6em;
    justify-content: center;

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    .active {
      border: 0.2em solid hsl(26, 100%, 55%);
      opacity: 60%;
    }
  }
}
