.nav {
  height: 4.5em;
  position: relative;

  hr {
    margin: 0 2em;
    opacity: 0.2;
  }

  .container {
    display: flex;
    gap: 4.5em;
  }

  .hamburger-menu{
    display: node;
  }

  .nav-title {
    margin-left: 1em;
  }

  .categories {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: space-between;
    color: hsl(219, 9%, 45%);
  }

  h3 {
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid hsl(26, 100%, 55%);
      color: hsl(26, 100%, 55%);
    }
  }
}


// mobile


//mobile view
@media (max-width: 820px) {
  .nav-title {
    color: red;
  }

  .nav {
    .categories{
      display: none;
      flex-direction: column;
    }

    .hamburger-menu{
      display: block;
    }

  
  }

}
