.navbar-right {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100vh;
  justify-content: flex-end;
  margin-right: 6rem;

  .svg-cart {
    svg {
      fill: hsl(219, 9%, 45%);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .cart-value {
    position: absolute;
    margin: -20px 0 0 20px;
    background-color: hsl(26, 100%, 55%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50% 50% 50% 0;
    color: #fff;
    font-weight: bold;
  }

  .cart-card {
    position: absolute;
    width: 20rem;
    min-height: 16rem;
    background-color: #fff;
    border-radius: 10px;
    right: 1%;
    z-index: 1;

    -webkit-box-shadow: 0px 10px 25px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px -11px rgba(0, 0, 0, 0.75);

    .cart-card-title {
      display: flex;
      margin-left: 1.5rem;
    }
  }

  .avatar {
    height: 3em;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: auto;
    max-height: 100%;
  }
}
