.nav {
  height: 4.5em;
  position: relative;

  hr {
    margin: 0 2em;
    opacity: 0.2;
  }

  .container {
    display: flex;
    gap: 4.5em;
  }

  .nav-title {
    margin-left: 1em;
  }

  .categories {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: space-between;
    color: hsl(219, 9%, 45%);
  }

  h3 {
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid hsl(26, 100%, 55%);
      color: hsl(26, 100%, 55%);
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 100vh;
    justify-content: flex-end;

    .svg-cart {
      svg {
        fill: hsl(219, 9%, 45%);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .avatar {
      height: 3em;

      &:hover {
        cursor: pointer;
      }
    }

    img {
      width: auto;
      max-height: 100%;
    }
  }
}
