.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 1em;

  .left,
  .right {
    width: 90vh;
    height: 70vh;
  }
}

// Left
.left {
  .icon-close {
    fill: hsl(223, 64%, 98%);
    position: sticky;
    margin-top: 5rem;
    margin-left: 26rem;
    cursor: pointer;
  }

  .product-display {
    height: 27em;
    cursor: pointer;

    .icon-next,
    .icon-previous {
      background-color: hsl(223, 64%, 98%);
      width: 1.5rem;
      height: 1.5rem;
      padding-top: 5px;
      padding-left: 10px;
      border-radius: 50%;

      position: relative;
      top: -40%;
    }

    .icon-next {
      margin-left: -1rem;
    }

    .icon-previous {
      margin-right: -1rem;
    }

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }
  }

  .thumnails {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    height: 6em;
    justify-content: center;

    img {
      width: auto;
      max-height: 100%;
      border-radius: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    .active {
      border: 0.2em solid hsl(26, 100%, 55%);
      opacity: 60%;
    }
  }
}

//Right
.right {
  margin-right: 2em;

  h4 {
    color: hsl(26, 100%, 55%);
    display: flex;
    margin: 5.5em auto auto auto;
    text-align: justify;
  }

  h1 {
    display: flex;
    margin: 0.2em auto 0.8 auto;
  }

  p {
    color: hsl(219, 9%, 45%);
    display: flex;
    text-align: justify;
  }

  .price-container {
    .price-inline {
      display: flex;
      gap: 0.7em;

      .price-tag {
        margin-bottom: 0;
      }

      .discount-tag {
        background-color: hsl(25, 100%, 94%);
        height: 1em;
        width: auto;
        padding: 0.5em;
        max-height: 100%;
        color: hsl(26, 100%, 55%);
        margin-top: 1.7em;
      }
    }

    .before-discount {
      display: flex;
      margin-top: 0;
      margin-bottom: 4em;
      color: hsl(219, 9%, 45%);
      text-decoration: 1px solid line-through;
      position: relative;
      top: -1.2em;
    }
  }

  .cart-container {
    display: flex;

    .counter {
      display: flex;
      margin-right: 1em;
      position: relative;

      .decrement,
      .increment,
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        background-color: hsl(223, 64%, 98%);

        &:hover {
          background-color: hsl(220, 14%, 75%);
          cursor: pointer;
        }
      }

      .number {
        &:hover {
          background-color: hsl(223, 64%, 98%);
          cursor: default;
        }
      }

      .decrement {
        border-radius: 5px 0 0 5px;
      }

      .increment {
        border-radius: 0 5px 5px 0;
      }
    }

    .addToCartBtn {
      button {
        background-color: hsl(26, 100%, 55%);
        border: none;
        width: 15em;
        height: 3em;
        border-radius: 5px;
        color: #fff;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: hsl(26, 79%, 45%);
          //  #CD6718
        }

        .btn-cart-svg {
          margin-right: 1em;
          fill: white;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  //overall
  .section {
    display: block;
  }

  // left
  .left {
    .product-display {
      // position: absolute;
      // // left: 25%;
      // text-align: center;
      // margin: auto;
      // margin-left: -35%;
      // width: 100vw;

      img {
        border-radius: 0px;
        position: absolute;
        // left: 25%;
        text-align: center;
        margin: auto;
        // width: 100%;
        // height: auto;
      }
    }

    .thumnails {
      display: none;
    }
  }
}
