@import 'styles/Navbar.scss', 'styles/Section.scss';

body {
  background-color: hsl(0, 0%, 100%);
}

.App {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

hr {
  margin: 0 2em;
  opacity: 0.2;
}

.mobile-sidebar-active {
  background-color: hsl(0, 0%, 100%);
  position: static;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(6, 1, 1, 0.735);
  height: 100%;
  width: 100%;
  z-index: 1;
}

//mobile view
@media (max-width: 820px) {
  .mobile-sidebar-active {
    background-color: rgba(6, 1, 1, 0.735);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
